@CHARSET "ISO-8859-1";

/* Admin section */
div.admin_section {
	width: 90%;
	float: left;
	margin: 10px 20px;
	border: 1px solid #c0c0c0;
	font-size: 75%;
	clear: both;
}

div.admin_section div.main
{
	float: left;
	width: 80px;
	text-align: center;
	padding: 5px;
	border-right: 1px solid #c0c0c0;
	height: 100%;
	background: #ebebeb;
}

div.admin_section div.actions
{
	float: left;
	text-align: center;
	height: 100%;
}

div.admin_section div.actions div.action
{
	float: left;
	height: 100%;
	text-align: center;
	padding: 5px 10px 5px 10px;
	margin: 0;
	border-right: 1px solid #ebebeb;
	width: 70px;
	height: 60px;
}

div.admin_section div.actions div.action img
{
	margin: 8px 15px 8px 15px;
}

div.admin_section div.admin_search
{
	clear: both;
	border-top: 1px solid #c0c0c0;
	padding: 5px;
}

form
{
	margin: 0;
	padding: 0;
}

form input
{
	border: 1px solid #C0C0C0;
	height: 17px;
}