@CHARSET "ISO-8859-1";

/*****************************************************
 *  WEBLCMS STYLES                                   *
 *****************************************************/

/* for content section in weblcms home course list file */
.maincontent
{
	float: left;
	width: 78%;
	padding: 4px;
	background-color: #fff;
}

.user_course_category
{
	background-color: #efefef;
	border: 1px solid #666;
	font-weight: bold;
	color: #666;
	list-style-type: none;
	margin: 5px;
	padding: 5px;
}

div.tool_bar
{
	background-color: #E5EDF9; 
	border: 1px solid #4271B5;
	padding: 10px;
	
	position: fixed;
	width: 160px;
	
	text-align: left;
}

div.tool_bar div.divider
{
	background-color: #4271B5;
	margin: 10px 0px 10px 0px;
	line-height: 1px;
	height: 1px;
	font-size: 1px;
}

div.tool_bar #tool_bar_hide_container
{
	display: none;
	text-align: center;
	width: 18px;
	height: 36px;
	position: absolute;
	top: 50%;
	margin-top: -18px;
	background-repeat: no-repeat;
	background-position: center center;
}

div.tool_bar_left #tool_bar_hide_container.hide
{
	right: 0px;
	margin-right: -1px;
	background-image: url(../img/common/action_action_bar_left_hide_background.png);
}

div.tool_bar_left #tool_bar_hide_container.show
{
	right: -18px;
	margin-left: 0px;
	background-image: url(../img/common/action_action_bar_left_show_background.png);
}

#tool_bar_show
{
	display: none;
}

#tool_bar_hide img
{
	margin: 10px 5px 11px 5px;
}

#tool_bar_show img
{
	margin: 10px 6px 11px 4px;
}

div.tool_bar_left
{
	border-left: 0px;
	left: 0px;
}

div.tool_bar_right
{
	width: 142px;
	padding-left: 28px;
	border-right: 0px;
	right: 0px;
}

div.tool_bar_right #tool_bar_hide_container.hide
{
	left: 0px;
	margin-left: -1px;
	background-image: url(../img/common/action_action_bar_right_hide_background.png);
}

div.tool_bar_right #tool_bar_hide_container.show
{
	left: -18px;
	margin-right: 0px;
	background-image: url(../img/common/action_action_bar_right_show_background.png);
}

#tool_browser_left
{
	margin-left: 180px;
}

#tool_browser_right
{
	margin-right: 180px;
}

div.tool_menu ul
{
	padding: 0px;
	margin: 0px;
}

div.tool_menu ul li.tool_list_menu
{
	padding: 0px 0px 2px 0px;
	margin: 0px;
	list-style: none;
}