@CHARSET "ISO-8859-1";

/* for content section in weblcms home course list file */
.maincontent
{
	float: left;
	width: 78%;
	padding: 4px;
	background-color: #fff;
}

.user_course_category
{
	background-color: #efefef;
	border: 1px solid #666;
	font-weight: bold;
	color: #666;
	list-style-type: none;
	margin: 5px;
	padding: 5px;
}