/*****************************************************
 *  TREEMENU STYLES                                  *
 *****************************************************/
/*
 * This turns off the unsightly unstyled tree before the page has
 * been completely loaded. Since it is made visible through JavaScript,
 * having CSS on but JavaScript off breaks the tree.
 */
ul.tree-menu
{
	visibility: hidden;
}

ul.tree-menu, ul.tree-menu ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.tree-menu ul
{
	background: url(../img/common/treemenu/tree-branch.png) repeat-y;
}

/*
 * li.last > ul doesn't work in IE, so we force it this way
 */
ul.tree-menu li.last ul.last
{
	background: none;
}

ul.tree-menu li
{
	margin: 0;
	padding: 0 0 0 18px;
}

ul.tree-menu li div
{
	margin: 0;
	padding: 0 0 0 18px;
	background: url(../img/common/treemenu/tree-node-open.png) no-repeat;
	height: 18px;
}

ul.tree-menu li.collapsed div
{
	background-image: url(../img/common/treemenu/tree-node.png);
}

ul.tree-menu li.root
{
	padding-left: 0;
}

/*
 * see above (li.last > div)
 */
ul.tree-menu li.last div.last
{
	background-image: url(../img/common/treemenu/tree-node-open-end.png);
}

/*
 * IE doesn't like li.last.collapsed
 */
ul.tree-menu li.last.collapsed div.last,
ul.tree-menu li.last-collapsed div.last
{
	background-image: url(../img/common/treemenu/tree-node-end.png);
}

ul.tree-menu li.leaf div, ul.tree-menu li.empty div
{
	background-image: url(../img/common/treemenu/tree-leaf.png);
}

/*
 * IE doesn't like li.last.leaf
 */
ul.tree-menu li.last.leaf div.last, ul.tree-menu li.last.empty div.last,
ul.tree-menu li.last-leaf div.last, ul.tree-menu li.last-empty div.last
{
	background-image: url(../img/common/treemenu/tree-leaf-end.png);
}

ul.tree-menu li div a
{
	margin: 0;
	padding: 0 0 0 18px;
	background: url(../img/common/treemenu/tree-folder-open.png) no-repeat 0 0;
	/*
	 * Stretches links over the entire width of the menu
	 * Also required for minimum height
	 */
	display: block;
	height: 18px;
	white-space: nowrap;
	/*overflow: hidden;*/
}

ul.tree-menu li.empty div a
{
	background-image: url(../img/common/treemenu/tree-folder-closed.png);
}

ul.tree-menu li.collapsed div a
{
	background-image: url(../img/common/treemenu/tree-folder-closed.png);
}

ul.tree-menu li.leaf div a
{
	background-image: url(../img/common/treemenu/tree-document.png);
}

ul.tree-menu li.collapsed ul
{
	display: none;
}

ul.tree-menu li div.current a
{
	text-decoration: underline;
}

/*
 * Tweak: Font size is 12px, nodes are 18px high. That leaves (18 - 12) / 2px.
 */
ul.tree-menu li div a
{
	padding-top: 3px;
	height: 15px;
}

/*
 * IE doesn't like the tweak above very much
 */
* html ul.tree-menu li div a
{
	padding-top: 2px;
	height: 16px;
}

ul.tree-menu li div
{
	/*overflow: hidden;*/
}

/*
 * Tweak: Some extra space between folder and text--3px will do.
 */
ul.tree-menu li div a
{
	background-position: 0px 1px;
	padding-left: 21px;
}

/*
 * Tweak: Trash icon.
 */
ul.tree-menu li div a.trash
{
	background-image: url(../img/common/treemenu/trash.png);
}
ul.tree-menu li div a.trash_full
{
	background-image: url(../img/common/treemenu/trash_full.png);
}

/*
 * Tweak: Quota icon.
 */
ul.tree-menu li div a.quota
{
	background-image: url(../img/common/treemenu/quota.png);
}

/*
 * Tweak: User View icon.
 */
ul.tree-menu li div a.userview
{
	background-image: url(../img/common/treemenu/userview.png);
}

/*
 * Tweak: Publication icon.
 */
ul.tree-menu li div a.publication
{
	background-image: url(../img/common/treemenu/publication.png);
}

/*
 * Tweak: Create icon.
 */
ul.tree-menu li div a.create
{
	background-image: url(../img/common/treemenu/create.png);
}

/*
 * Tweak: Import icon.
 */
ul.tree-menu li div a.import
{
	background-image: url(../img/common/treemenu/import.png);
}

/*
 * Tweak: Search results icon.
 */
ul.tree-menu li div a.search_results
{
	background-image: url(../img/common/treemenu/search.png);
}

ul.tree-menu li div a.home
{
	background-image: url(../img/common/treemenu/home.png);
}

ul.tree-menu li div a.selected, .active_elements a.selected {
	background-color: #d0e3fa;
}

ul.tree-menu li div a.disabled, ul.tree-menu li div a.disabled:hover,
ul.tree-menu li div a.disabled:active  {
	color: #999;
	font-weight: normal !important;
	cursor: default;
}

ul.tree-menu li div a.unlinked, ul.tree-menu li div a.unlinked:hover,
ul.tree-menu li div a.unlinked:active {
	color: #666;
	cursor: default;
}

ul.tree-menu li div a.type_category, ul.tree-menu li div a.type_category:hover,
ul.tree-menu li div a.type_category:active
{
	background-image: url(../img/common/treemenu/tree-folder-open.png);
	background-repeat: no-repeat;
}

ul.tree-menu li.collapsed div a.type_category, ul.tree-menu li.collapsed div a.type_category:hover,
ul.tree-menu li.collapsed div a.type_category:active
{
	background-image: url(../img/common/treemenu/tree-folder-closed.png);
	background-repeat: no-repeat;
}

ul.tree-menu li div.current a.type_category, ul.tree-menu li div.current a.type_category:hover,
ul.tree-menu li div.current a.type_category:active
{
	background-image: url(../img/common/treemenu/tree-folder-open.png);
	background-repeat: no-repeat;
}

ul.tree-menu li div a.type_announcement, .active_elements li.type_announcement a
{
	background-image: url(../img/common/treemenu_types/announcement.png);
	background-repeat: no-repeat;
}

ul.tree-menu li div a.type_user, .active_elements li.type_user a
{
	background-image: url(../img/common/treemenu/user.png);
	background-repeat: no-repeat;
}

ul.tree-menu li div a.type_calendar_event, .active_elements li.type_calendar_event a
{
	background-image: url(../img/common/treemenu_types/calendar_event.png);
	background-repeat: no-repeat;
}

ul.tree-menu li div a.type_description, .active_elements li.type_description a
{
	background-image: url(../img/common/treemenu_types/description.png);
	background-repeat: no-repeat;
}

ul.tree-menu li div a.type_document, .active_elements li.type_document a
{
	background-image: url(../img/common/treemenu_types/document.png);
	background-repeat: no-repeat;
}

ul.tree-menu li div a.type_forum, .active_elements li.type_forum a
{
	background-image: url(../img/common/treemenu_types/forum.png);
	background-repeat: no-repeat;
}

ul.tree-menu li div a.type_forum_post, .active_elements li.type_forum_post a
{
	background-image: url(../img/common/treemenu_types/forum_post.png);
	background-repeat: no-repeat;
}

ul.tree-menu li div a.type_forum_topic, .active_elements li.type_forum_topic a
{
	background-image: url(../img/common/treemenu_types/forum_topic.png);
	background-repeat: no-repeat;
}

ul.tree-menu li div a.type_learning_path, .active_elements li.type_learning_path a
{
	background-image: url(../img/common/treemenu_types/learning_path.png);
	background-repeat: no-repeat;
}

ul.tree-menu li div a.type_learning_path_chapter, .active_elements li.type_learning_path_chapter a
{
	background-image: url(../img/common/treemenu_types/learning_path_chapter.png);
	background-repeat: no-repeat;
}

ul.tree-menu li div a.type_learning_path_item, .active_elements li.type_learning_path_item a
{
	background-image: url(../img/common/treemenu_types/learning_path_item.png);
	background-repeat: no-repeat;
}

ul.tree-menu li div a.type_link, .active_elements li.type_link a
{
	background-image: url(../img/common/treemenu_types/link.png);
	background-repeat: no-repeat;
}

ul.tree-menu li div a.type_role, .active_elements li.type_role a
{
	background-image: url(../img/common/treemenu/rights.png);
	background-repeat: no-repeat;
}